{# Full-page latest routes table. Expects: latestRoutes #}
	<div class="w-full overflow-x-auto">
		<table class="min-w-[720px] w-full text-left text-sm font-medium text-gray-900 dark:text-gray-100">
			<thead>
				<tr>
					<th scope="col" class="px-3 py-2">#</th>
					<th scope="col" class="px-3 py-2">Tour</th>
					<th scope="col" class="px-3 py-2">Schwierigkeit</th>
					<th scope="col" class="px-3 py-2">Erstbegeher</th>
					<th scope="col" class="px-3 py-2">Fels</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-gray-200 dark:divide-gray-700">
				{% for latestRoute in latestRoutes %}
					<tr class="even:bg-white odd:bg-gray-100 hover:bg-gray-200 dark:even:bg-black dark:odd:bg-gray-800 dark:hover:bg-gray-700">
						<td class="px-3 py-2">{{ loop.index }}</td>
						<td class="px-3 py-2">
							<a href="{{ path('show_rock', { 'areaSlug': latestRoute.area.name, slug: latestRoute.rock.slug }) }}" title="Tourenname: {{ latestRoute.name }}, Fels: {{ latestRoute.rock }}" class="text-sky-800 no-underline hover:underline dark:text-sky-400">{{ latestRoute.name }}
							</a>
							{% set star = '<i class="fas fa-star" style="color: rgb(202 138 4)"></i>' %}
							{% if latestRoute.rating == 1 %}
								{{ star|raw }}
							{% elseif latestRoute.rating == 2 %}
								{{ star|raw }}{{ star|raw }}
							{% elseif latestRoute.rating == 3 %}
								{{ star|raw }}{{ star|raw }}{{ star|raw }}
							{% endif %}
							{% if latestRoute.protection == 2 %}
								<i class="fa fa-exclamation-triangle text-red-700 dark:text-red-500"></i>
							{% elseif latestRoute.protection == 3 %}
								<i class="fa fa-ambulance text-red-700 dark:text-red-500"></i>
							{% endif %}
						</td>
						<td class="px-3 py-2">{{ latestRoute.grade }}</td>
						<td class="px-3 py-2">{{ latestRoute.firstAscent }}
							{{ latestRoute.yearFirstAscent }}</td>
						<td class="px-3 py-2">{{ latestRoute.rock }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
