{% if rock.previewImage is not empty %}
	{% set pictureHtml %}
	<picture>
		<source type="image/webp" srcset="{{ rockImageBaseUrl }}{{ rock.previewImage }}area-map.webp 1x, {{ rockImageBaseUrl }}{{ rock.previewImage }}area-map@2x.webp 2x, {{ rockImageBaseUrl }}{{ rock.previewImage }}area-map@3x.webp 3x">
		<img class="main-map-popup-image" src="{{ rockImageBaseUrl }}{{ rock.previewImage }}area-map.webp" alt="Klettergebiet {{ areaName }}, Fels: {{ rock.rockName }}" loading="lazy" decoding="async">
	</picture>
	{% endset %}
{% else %}
	{% set pictureHtml = '' %}
{% endif %}
{% set rockCardArea = {
	routes: rock.amountRoutes|default(0),
	amountEasy: rock.amountEasy|default(0),
	amountMiddle: rock.amountMiddle|default(0),
	amountHard: rock.amountHard|default(0),
	amountProjects: rock.amountProjects|default(0),
	grade_chart_3: rock.grade_chart_3|default(0),
	grade_chart_4: rock.grade_chart_4|default(0),
	grade_chart_5: rock.grade_chart_5|default(0),
	grade_chart_6: rock.grade_chart_6|default(0),
	grade_chart_7: rock.grade_chart_7|default(0),
	grade_chart_8: rock.grade_chart_8|default(0),
	grade_chart_9: rock.grade_chart_9|default(0),
	grade_chart_10: rock.grade_chart_10|default(0),
	grade_chart_11: rock.grade_chart_11|default(0)
} %}
{% set popupBody = include('components/area/area-card-body.html.twig', {
	area: rockCardArea,
	ulClass: 'mt-2',
	showTravelTime: false,
	showRocksCount: false,
	aria_label_prefix: 'Klettergebiet ' ~ areaName ~ ', Fels ' ~ rock.rockName ~ '. '
}) %}
<div class="main-map-popup-card">
	<div class="main-map-popup-image-wrap">
		{{ pictureHtml|raw }}
		<div class="main-map-popup-header">
			<a href="{{ rockUrl }}" class="main-map-popup-link fw-normal">{{ rock.rockName }}</a>
			<button type="button" class="main-map-popup-close" onclick="this.closest('.leaflet-popup').querySelector('.leaflet-popup-close-button').click()" aria-label="Schließen"><span>&times;</span></button>
		</div>
	</div>
	<div class="main-map-popup-body">{{ popupBody|raw }}</div>
</div>
