{% extends 'base.html.twig' %}

{% block title %}{{ 'grade_comparison_free_climbing.meta_title'|trans }}{% endblock %}

{% block meta_tags %}
	{% include 'components/seo/meta-tags.html.twig' with {
		'title': 'grade_comparison_free_climbing.meta_title'|trans,
		'description': 'grade_comparison_free_climbing.meta_description'|trans,
		'url': app.request.locale == 'en'
			? 'https://munichclimbs.de/en/free-climbing-grade-comparison'
			: 'https://munichclimbs.de/Gradvergleich-Freiklettern'
	} %}
{% endblock %}

{% block body %}
	{{ include('components/layout/navigation.html.twig') }}
	<main id="main-content">
		<div class="container my-3">
			<section class="mb-4">
				<h1 class="h2 mb-3 fw-medium">{{ 'grade_comparison_free_climbing.heading'|trans }}</h1>
			</section>
			<section class="mb-4">
				<div class="table-responsive rounded border border-secondary-subtle">
					<table class="table table-sm table-striped mb-0 align-middle">
						<thead class="table-light">
							<tr>
								<th scope="col">{{ 'grade_comparison_free_climbing.col_uiaa'|trans }}</th>
								<th scope="col">{{ 'grade_comparison_free_climbing.col_french'|trans }}</th>
								<th scope="col">{{ 'grade_comparison_free_climbing.col_fb'|trans }}</th>
								<th scope="col">{{ 'grade_comparison_free_climbing.col_v'|trans }}</th>
							</tr>
						</thead>
						<tbody class="font-monospace small">
							{% for row in comparisonRows %}
								<tr>
									<td>{{ row.uiaa }}</td>
									<td>{{ row.french }}</td>
									<td>{{ row.fb }}</td>
									<td>{{ row.v }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
