{% extends 'base.html.twig' %}
{% form_theme contactForm 'bootstrap_5_layout.html.twig' %}


{% block title %}Klettergebiete um München
{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
	<main>
		<div class="container my-3">
			<section>
				<div class="py-3 mb-3 d-flex align-items-center justify-content-between">
					<h1 class="h2 mb-0 fw-medium">Impressum</h1>
				</div>
			</section>
			<section>
				<p>
					<span class="font-semibold">Copyright:</span><br>
					© 2013 munichclimbs.com<br>
					Alle Rechte vorbehalten.</p>
				<p>Inhaltlich verantwortlich gemäß § 6 MDStV:</p>
				<p>Bernd Ullmann<br>
					Petra-Kelly-Str. 29<br>
					80797 München<br>
					admin@munichclimbs.de</p>
				<p>Konzeption und Design:<br>
					Bernd Ullmann</p>

				<p>Technische Umsetzung:<br>
					Bernd Ullmann | www.berndullmann.de<br>
				</p>
				<hr class="my-5">
				<h5>WICHTIGE HINWEISE:</h5>
				<p>Klettern ist eine Risikosportart, Fehler beim Ausüben der Sportart können mit schweren Verletzungen oder sogar tödlich enden.
					<br>
					Die Informationen auf www.munichclimbs.de sind nach bestem Wissen recherchiert. Trotzdem können Fehler und Ungenauigkeiten NICHT vollständig ausgeschlossen werden.
					<br>
					Alle Angaben erfolgen ohne Gewähr. Eine Haftung für Schäden, die sich aus der Verwendung der veröffentlichten Inhalte ergeben, ist ausgeschlossen.<br>
					Die Website www.munichclimbs.de ist ein freiwilliges NICHT-kommerzielles Informationsangebot über die Klettergebiete rund um München.</p>
				<hr class="my-5">
				<h5>Kontakt</h5>
				<h6 class="card-subtitle mb-4 text-body-secondary">Du hast Fragen, Anregungen, Ergänzungen? Bitte schreib uns!</h6>
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">{{ message }}</div>
				{% endfor %}
				{% for message in app.flashes('error') %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}

				{{ form_start(contactForm, {'attr': {'novalidate': 'novalidate', 'data-turbo': 'false'}}) }}
				{{ form_widget(contactForm) }}
				<button type="submit" class="btn btn-success text-green mb-5">Nachricht senden!</button>
				{{ form_end(contactForm) }}
			</section>
		</div>
	</main>
{% endblock %}
