{% extends 'base.html.twig' %}

{# Cache areas data - only fetch once instead of 3 times #}
{% set areasData = getAreasInformation() %}

{% block page_javascripts %}
	{{ encore_entry_script_tags('map') }}
{% endblock %}

{% block leaflet %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block meta_tags %}
	{% set description = 'index.meta_description_intro'|trans %}
	{% for area in areasData %}
		{% set description = description ~ area.name %}
		{% if loop.last == false %}
			{% set description = description ~ ', ' %}
		{% endif %}
	{% endfor %}
	{% include 'components/seo/meta-tags.html.twig' with {
		title: 'Munichclimbs',
		description: description,
		url: app.request.locale == 'en' ? 'https://munichclimbs.de/en' : 'https://munichclimbs.de/',
		og_locale_alternate: app.request.locale == 'en' ? 'de_DE' : 'en_US',
	} %}
	{% include 'components/seo/json-ld.html.twig' with {
		'type': 'index',
		'title': 'Munichclimbs',
		'description': description,
		'url': 'https://munichclimbs.de/',
		'areas': areasData
	} %}
{% endblock %}

{% block body %}
	{{ include('components/layout/navigation.html.twig') }}
	<main id="main-content">
		<div class="mx-auto my-4 w-full max-w-[1024px] px-2 sm:px-4">
			<section class="flex flex-col gap-6" aria-labelledby="index-page-heading">
				{{ include('components/page/index-header-with-map.html.twig') }}
				<div class="grid grid-cols-1 gap-6 lg:grid-cols-12 lg:gap-8">
					<section class="min-w-0 lg:col-span-8" aria-label="{{ 'index.areas_region_label'|trans({}, 'messages') }}">
						<div class="flex flex-col gap-4">
							{% for area in areasData %}
								{{ include('components/area/area-card.html.twig', { area: area, link: area_path(area.slug), chart_summary_include_rocks: true }) }}
							{% endfor %}
						</div>
					</section>
					<aside class="grid min-w-0 auto-rows-auto grid-cols-1 items-start gap-6 self-start lg:col-span-4" aria-label="{{ 'index.sidebar_label'|trans({}, 'messages') }}">
						{{ include('components/home/banned-rocks.html.twig') }}
						{{ include('components/home/support-project.html.twig') }}
						{{ include('components/home/latest-routes.html.twig') }}
						{{ include('components/home/latest-comments.html.twig') }}
					</aside>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
