{% extends 'base.html.twig' %}

{# Cache areas data - only fetch once instead of 3 times #}
{% set areasData = getAreasInformation() %}

{% block page_javascripts %}
	{{ encore_entry_script_tags('map') }}
{% endblock %}

{% block leaflet %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block meta_tags %}
	{% set description = 'Klettern rund um München. Hier werden die Klettergebiete rund um München vorgestellt: ' %}
	{% for area in areasData %}
		{% set description = description ~ area.name %}
		{% if loop.last == false %}
			{% set description = description ~ ', ' %}
		{% endif %}
	{% endfor %}
	{% include 'partials/_meta_tags.html.twig' with {
		'title': 'Munichclimbs',
		'description': description,
		'url': 'https://munichclimbs.de/'
	} %}
	{% include 'partials/_json_ld.html.twig' with {
		'type': 'index',
		'title': 'Munichclimbs',
		'description': description,
		'url': 'https://munichclimbs.de/',
		'areas': areasData
	} %}
{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
	<main>
		<div class="container my-3">
			<section>
				<div class="py-3 mb-3 d-flex align-items-center justify-content-between">
					<h1 class="h2 mb-0 fw-medium">Klettergebiete um München</h1>
					{% include 'partials/_collapseMap.html.twig' with { modalId: 'modalMap' } %}
				</div>
			<div class="modal fade" id="modalMap" tabindex="-1" aria-labelledby="modalMapLabel" aria-hidden="true">
				<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
					<div class="modal-content h-100 d-flex flex-column">
						<div class="modal-header py-3 flex-shrink-0">
							<h2 class="modal-title h5 mb-0" id="modalMapLabel">Klettergebiete um München</h2>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
						</div>
						<div class="modal-body p-0 flex-grow-1 min-h-0 d-flex flex-column">
							<div class="z-10 flex-grow-1 min-h-0 h-100">
								{{ include('partials/_mainMap.html.twig') }}
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							{% for area in areasData %}
								<div class="col-12">
									{{ include('partials/_areaCard.html.twig', { area: area, link: path('show_rocks', { slug: area.slug }) }) }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-md-4">
						<div class="gap-3 row-gap-3" style="display: grid;">
							{{ include('partials/_banned-rocks.html.twig') }}
							{{ include('partials/_support-project.html.twig') }}
							{{ include('partials/_latest-routes.html.twig') }}
							{{ include('partials/_latest-comments.html.twig') }}
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
