{% extends 'base.html.twig' %}

{# Cache areas data - only fetch once instead of 3 times #}
{% set areasData = getAreasInformation() %}

{% block page_javascripts %}
	{{ encore_entry_script_tags('map') }}
{% endblock %}

{% block leaflet %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block meta_tags %}
	{% set description = 'Klettern rund um München. Hier werden die Klettergebiete rund um München vorgestellt: ' %}
	{% for area in areasData %}
		{% set description = description ~ area.name %}
		{% if loop.last == false %}
			{% set description = description ~ ', ' %}
		{% endif %}
	{% endfor %}
	{% include 'components/seo/meta-tags.html.twig' with {
		'title': 'Munichclimbs',
		'description': description,
		'url': 'https://munichclimbs.de/'
	} %}
	{% include 'components/seo/json-ld.html.twig' with {
		'type': 'index',
		'title': 'Munichclimbs',
		'description': description,
		'url': 'https://munichclimbs.de/',
		'areas': areasData
	} %}
{% endblock %}

{% block body %}
	{{ include('components/layout/navigation.html.twig') }}
	<main id="main-content">
		<div class="container my-3">
			<section aria-labelledby="index-page-heading">
				{{ include('components/page/index-header-with-map.html.twig') }}
				{{ include('components/page/index-main-map-modal.html.twig') }}
				<div class="row">
					<div class="col-md-8">
						<section class="row" aria-label="{{ 'index.areas_region_label'|trans({}, 'messages') }}">
							{% for area in areasData %}
								<div class="col-12">
									{{ include('components/area/area-card.html.twig', { area: area, link: path('show_rocks', { slug: area.slug }), chart_summary_include_rocks: true }) }}
								</div>
							{% endfor %}
						</section>
					</div>
					<div class="col-md-4">
						<aside class="gap-3 row-gap-3" style="display: grid;" aria-label="{{ 'index.sidebar_label'|trans({}, 'messages') }}">
							{{ include('components/home/banned-rocks.html.twig') }}
							{{ include('components/home/support-project.html.twig') }}
							{{ include('components/home/latest-routes.html.twig') }}
							{{ include('components/home/latest-comments.html.twig') }}
						</aside>
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
