{% extends 'base.html.twig' %}
{% set setTitle = 'Munichclimbs | Klettergebiet ' ~ areaName %}
{% set currentDate =  "now"|date("z") %}

{% block page_javascripts %}
	{{ encore_entry_script_tags('map') }}
	{{ encore_entry_script_tags('filter') }}
	{{ encore_entry_script_tags('routeparams') }}
{% endblock %}

{% block leaflet %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
{% endblock %}

{% block meta_tags %}
	{% set description = 'Felsen im Klettergebiet ' ~ areaName ~ ': ' %}
	{% for rock in rocks %}
		{% set description = description ~ rock.rockName %}
		{% if loop.last == false %}
			{% set description = description ~ ', ' %}
		{% else %}
			{% set description = description ~ ' ' %}
		{% endif %}
	{% endfor %}
	{% include 'partials/_meta_tags.html.twig' with {
		'title': setTitle,
		'description': description,
		'url': 'https://munichclimbs.de/Klettergebiet/' ~ areaSlug,
		'area_name': areaName
	} %}
{% endblock %}

{% block title %}
	{{ setTitle }}
{% endblock %}

{% block body %}
	{{ include('partials/_navigation.html.twig') }}
	<main id="main-content">
		<div class="image-container position-relative">
			<div class="image-container-media">
			{% if areaImage is not empty %}
				<picture>
					<source media="(min-width: 1200px)" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-large-@1x.webp') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-large-@2x.webp') }} 2x, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-large-@3x.webp') }} 3x">
					<source media="(min-width: 800px)" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-medium-@1x.webp') }}, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-medium-@2x.webp') }} 2x, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-medium-@3x.webp') }} 3x">
					<img src="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-small-@1x.webp') }}" srcset="{{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-small-@2x.webp') }} 2x, {{ asset('https://www.munichclimbs.de/uploads/header/' ~ areaImage ~ '-small-@3x.webp') }} 3x" alt="{{ setTitle }}" fetchpriority="high" decoding="async">
				</picture>
			{% else %}
				<div style="height: 100px"></div>
			{% endif %}
			</div>
			<div class="container my-3 position-absolute" style="top: 0; right: 0; left:0;">
				<div class="bg-image pb-3 rounded ">
					<div class="p-3 rounded shadow-3 alert-light d-flex align-items-center justify-content-between" style="background-color: rgba(255, 255, 255, 0.6);">
						<div class="d-flex align-items-center">
							<h1 class="h3 mb-0 fw-medium stay-black me-2">
								{{ areaName }}
							</h1>
						</div>
						<div class="d-flex align-items-center">
							<div class="dropdown">
								<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-popper-config='{"strategy":"fixed"}' data-bs-auto-close="true" aria-expanded="false" aria-haspopup="true" aria-label="Weitere Informationen">
									<div class="modal-info"></div>
								</button>
								<ul class="dropdown-menu dropdown-menu-end">
									{% if areaKletterkonzeption %}
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center text-start small" data-bs-toggle="modal" data-bs-target="#kletterkonzeptionModal"><div class="modal-info me-2"></div> Kletterkonzeption - {{ areaName }}</button>
										</li>
									{% endif %}
									{% if top100Routes is not empty %}
										<li>
											<button type="button" class="dropdown-item d-flex align-items-center text-start small" data-bs-toggle="modal" data-bs-target="#top100RoutesModal"><div class="top-100 me-2"></div> Top 100 schwierigste Routen - {{ areaName }}</button>
										</li>
									{% endif %}
									<li>
										<button type="button" class="dropdown-item d-flex align-items-center text-start small" data-bs-toggle="modal" data-bs-target="#modalWeather"><div class="weather me-2"></div> Wetter</button>
									</li>
									<li>
										<button type="button" class="dropdown-item d-flex align-items-center text-start small" data-bs-toggle="modal" data-bs-target="#modalAreaMap"><div class="map me-2"></div>Übersichtskarte {{ areaName }}</button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container my-3">
			<section>
				{# Modals must live outside .image-container so fixed backdrop/dialog stack above the hero (z-index context) #}
				{% if areaKletterkonzeption %}
					{{ include('partials/_modal-kletterkonzeption.html.twig') }}
				{% endif %}
				{% if top100Routes is not empty %}
					{{ include('partials/_modal-top100-routes.html.twig') }}
				{% endif %}
				<div class="modal fade" id="modalWeather" tabindex="-1" aria-labelledby="modalWeatherLabel" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
						<div class="modal-content">
							<div class="modal-header py-2">
								<h2 class="modal-title h6 mb-0" id="modalWeatherLabel">Wetter</h2>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
							</div>
							<div class="modal-body">
								<div class="card py-2 card-body border-0 shadow-none">
									<div {{ stimulus_controller('weather') }} data-weather-area-lat="{{ areaLat }}" data-weather-area-lng="{{ areaLng }}">
										<div class="current-weather d-flex align-items-center">
											<div class="icon icon-weather"></div>
											<div id="temperature"></div>
										</div>
										<div class="forecast row">
											<div class="day col-3 card card-body m-2">
												<div class="forecast-text"></div>
												<div class="d-flex align-items-center">
													<div class="icon icon-weather"></div>
													<div class="temp"></div>
												</div>
											</div>
											<div class="day col-3 card card-body m-2">
												<div class="forecast-text"></div>
												<div class="d-flex align-items-center">
													<div class="icon icon-weather"></div>
													<div class="temp"></div>
												</div>
											</div>
											<div class="day col-3 card card-body m-2">
												<div class="forecast-text"></div>
												<div class="d-flex align-items-center">
													<div class="icon icon-weather"></div>
													<div class="temp"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="modalAreaMap" tabindex="-1" aria-labelledby="modalAreaMapLabel" aria-hidden="true">
					<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
						<div class="modal-content h-100 d-flex flex-column">
							<div class="modal-header py-2 flex-shrink-0">
								<h2 class="modal-title h6 mb-0" id="modalAreaMapLabel">Übersichtskarte {{ areaName }}</h2>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
							</div>
							<div class="modal-body p-0 flex-grow-1 min-h-0 d-flex flex-column">
								<div id="areaMap" class="z-10 flex-grow-1 min-h-0">
									{{ include('partials/_areaMap.html.twig') }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" data-controller="filter">
					<div class="col-12 col-md-8 order-2 order-lg-1">
						<div class="row">
							{% for rock in rocks %}
								{{ include('components/rock-area-list-item.html.twig', { rock: rock, areaName: areaName, currentDate: currentDate }) }}
							{% endfor %}
						</div>
					</div>
					<div class="col-12 col-md-4 order-1 order-lg-2">
						{{ include('components/rocks-sticky-filter.html.twig') }}
					</div>
				</div>
			</section>
		</div>
	</main>
{% endblock %}
