<!DOCTYPE html>
<html lang="{{ app.locale }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{# Preconnect to external resources for faster loading #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://www.munichclimbs.de">
		<link rel="dns-prefetch" href="https://unpkg.com">
		
		{% block meta_tags %}{% endblock %}
		{% block structured_data %}{% endblock %}
		<title>
			{% block title %}Munichclimbs
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{% block page_javascripts %}{% endblock %}
		<link href="{{ asset('build/images/favicon/favicon.png') }}" rel="icon" type="image/png">
		<link href="{{ asset('build/images/favicon/favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
		<link href="{{ asset('build/images/favicon/apple-touch-icon.png') }}" rel="apple-touch-icon" sizes="180x180">
		<link href="{{ asset('build/images/favicon/apple-touch-startup-image.png') }}" rel="apple-touch-startup-image">
		{# Leaflet - CSS and JS loaded in head (required because map init scripts run inline in body) #}
		{% block leaflet %}{% endblock %}
	</head>
	<body id="body" {% block body_attributes %} {% endblock %} class="{% block bodyclass %}{% endblock %}">
		<div data-controller="scroll-progress" class="bg-theme fixed-top" style="height: 3px; z-index: 10000;"></div>

		{% block body %}{% endblock %}

		{% include 'partials/_footer.html.twig' with {'areas': getAreas()} %}

		<div {{ stimulus_controller('cookie-consent') }}></div>

		<a href="#body" data-controller="scrolltop" data-action="scroll@window->scrolltop#scrollFunction" data-scrolltop-target="top" class="btn btn-outline-secondary btn-sm btn-to-top">
			<div class="chevron-up "></div>
		</a>
	</body>
</html>
